@font-face {
    font-family: 'roboto';
    src: url('./assets/fonts/Roboto-Regular.ttf');
}


/* reset */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}


:root {
    font-family: 'roboto', 'sans';
    --Tomato: hsl(4, 100%, 67%);
    --DarkSlateGrey: hsl(234, 29%, 20%);
    --CharcoalGrey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
}

/* utilize */

.t--left {
    text-align: left !important;
}

.fs--100 {
    font-size: 1rem;
}

p {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}


.newsletter--success {
    /* padding-top: 4rem; */
    display: flex;
    justify-content: space-between;
    height: 100vh;
    align-items: start !important;
    padding: 9rem 2.5rem 2.5rem !important;
    flex-direction: column;
}


.newsletter--success > div > h1 {
    font-weight: 600;
    font-size: 3rem !important;
}

.newsletter--success > p {
    font-size: 1rem;
}

.newsletter__container {
    padding: 1rem 2rem;
}




.newsletter__header {
    font-size: clamp(2.5rem, 10vw, 4rem);
    font-weight: 800;
    padding: 1.3rem 0 1.3rem 0;
}

.newsletter__text {
    font-size: clamp(1rem, 4vw, 1.6rem);
}

ul {
    margin-bottom: 2.6rem;
}

ul>li {
    display: flex;
    align-items: flex-start;
    column-gap: 1rem;
    font-size: clamp(1rem, 4vw, 1.6rem);
    margin-bottom: 1rem;
}

ul>li::before {
    content: url('./assets/images/icon-list.svg');
    display: block;
}


.form__control {
    margin-bottom: .4rem;
}

.form__control>label {
    display: block;
    font-weight: 800;
    margin: 1rem 0;
}

.form__control>input {
    padding: 1rem;
    width: 100%;
    font-size: 1rem;
    border-radius: .5rem;
    border: 1px solid var(--Grey);
    margin-bottom: 1rem;
}

.btn {
    background: none;
    border: none;
}

.btn--accent {
    transition: all 250ms;
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    padding: 1.3rem 1rem;
    border-radius: .5rem;
    background-color: var(--CharcoalGrey);
    color: var(--White);
}

.btn--accent:hover {
    cursor: pointer;
    background: linear-gradient(125deg, rgba(255, 98, 87, 1) 0%, rgba(250, 146, 61, 1) 100%);
    box-shadow: 0px 6px 40px -6px rgba(255, 98, 87, 0.58), 0px 20px 40px -20px rgba(128, 128, 128, 0.93);
}

@media screen and (min-width: 816px) {
    body {
        display: grid;
        place-content: center;
        background-color: var(--CharcoalGrey);
    }

    img {
        object-fit: cover;
        width: min-content;
        height: 100%;
    }

    .newsletter {
        padding: 1rem;
        margin: 2rem;
        display: flex;
        column-gap: 2rem;
        border-radius: 2rem;
        background-color: var(--White);
    }

    .newsletter__container {
        max-width: 600px;
    }

    .newsletter > picture {
        order: 2;
    }
    

    .newsletter--success {
        width: 470px !important;
        height: auto;
        row-gap: 1rem;
    }
}

.success__container {
    display: grid;
    place-content: center;
    height: 100vh;
}
